


ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border: black solid .5px;
    padding: 20px;
}

li{
    color: black;
}

a{
 text-decoration: none;
}

