

nav {
    background-color: black;
    padding: 1rem;
    position: static;
    width: 100%;
}
ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

li{
    color: white;
}

a{
 text-decoration: none;
}

