

nav {
    background-color: black;
    position: static;
    padding-top: 10px;
    width: 100%;
}
.link-container {
   text-align: center;

}

.nav-item{
    color: white;
}

a{
    text-decoration: none;
}

